* {
/*	font-family:centabel;*/
	font-family:Myriad pro, helvetica, arial, serif;
}

a{
	color:#662D91;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	color:#c3c3c3 !important;
}

h1 {
	font-size:1.5em;
	font-weight:normal;
}
/*Shared*/
.blueline_bottom {
	border-bottom:1px solid #662D91;
	box-shadow:0 1px 1px #C9C9C9;
}

.blueline_top {
	border-top:1px solid #662D91;
    box-shadow: 0 -1px 1px #C9C9C9;
}

hr {
	color: #662D91;
	margin-bottom: 0.2em;
}

li {
	list-style:disc;
}

p {
	line-height:1.3em;
	font-size:0.9em;
}

#title {
    border-bottom: 1px solid #662D91;
    box-shadow: 0 1px 0px #C9C9C9;
    color: #B3B3B3;
    display: block;
    position: relative;
    text-decoration: none;
	margin-bottom:0.5em;
}

#title:after {
    content: url("assets/images/identifier.png");
    left: 1em;
    position: absolute;
    top: 0.55em;
}

#marker {
	top:26px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #662D91;
	position:relative;
}

/*Header*/
	#header {
		height: 42px;
		background-color: #FFFFFF;
		position: relative;
		margin-bottom:1em;
	}

	/*Nav*/
		#navigation {
			padding-top:1em;
		}

		#navigation li a {
			text-decoration:none;
			color:#B3B3B3;
		} 

		#navigation .page_item_title {
			float:left;
			list-style:none;
			margin-right:3em;
		}
/*Sidebar*/

	#logo {
	    position: absolute;
	    right: 0;
	    top: -28px;
	    width: 185px;
	    z-index: 3;
	}

/*Content*/

	#content_wrap {
		min-height: 485px;
		background-color:#F2F2F2;
/*		padding-top:0.6em;*/
	}
	
	#lh_content {
		float:left;
		width:46em;
	}
	
	#rh_sidebar {
	    float: right;
	    margin-top: 100px;
	    width: 185px;
	}
	
/*Home*/

	#hp_latest_news {
		margin-top:1.5em;
	}

	#hp_latest_news ul li {
	    font-size: 0.75em;
	    line-height: 1.5em;
	    margin-left: 1em;
	    text-indent: -0.2em;
	}
	
	#hp_latest_news ul li a {
		color:#662D91;
		font-weight:bold;
		text-decoration:none;
	}
	
	#hp_latest_news ul .hp_date {
		font-size:0.51em;
		padding-bottom:0.2em;
	}
	
	#hp_about_me p {
		margin-top:0.5em;
		font-size:0.8em;
		font-style:oblique;
		line-height:1.2em;
	}

	/*Slider*/
		#slider_wrap {
			width:760px;
			height:460px;
			overflow:hidden;
		}
		
		#slider_frame {
		    border: 1px solid #662D91;
		    box-shadow: 0 0 1px #C9C9C9 inset;
		    height: 459px;
		    position: absolute;
		    width: 759px;
		    z-index: 99;
		}
		
		#slider_nav {
			padding-bottom:3em;
		}
		
		.thumb {
		    float: left;
		    margin-right: 3px;
		    overflow: hidden;
		    width: 43px;
			height:43px;
			border:1px solid #F2F2F2;
			margin-bottom:3px;
		}

		.activeSlide {
			opacity:1;
			border:1px solid #c3c3c3;
		}
/*Contact*/
	#contact_form label {
		display:block;
		font-weight:normal !important;
		margin-bottom:0.5em;
	}
	
	#contact_form input {
		width:20em;
	}
	
	#contact_form textarea {
		width:30em;
		height:10em !important;
	}
	
	#contact_form input, #contact_form textarea {
	    -moz-box-sizing: border-box;
	    -moz-transition: border-color 0.2s ease 0s;
	    background-color: #FFFFFF;
	    border: 1px solid #CCCCCC;
	    border-bottom-left-radius: 3px;
	    border-top-left-radius: 3px;
	    box-shadow: 0 1px 2px #EEEEEE inset;
	    font-size: 14px;
	    height: 32px;
	    line-height: 30px;
	    margin: 0 0 2px;
	    position: relative;
		padding:0 10px;
		resize:none;
	}
	
	#contact_form input:focus, #contact_form textarea:focus{
		border:1px solid #662D91;
	}
	
	#contact_details {
		font-size: 0.8em;
	    font-style: oblique;
	    line-height: 1.2em;
	    margin-top: 0.5em;
	}

/*Portfolio*/

	#portfolio_thumb_wrap {
	    box-shadow: 0 0 1px #C9C9C9 inset;
	    height: 141px;
	    overflow: hidden;
	    position: absolute;
	    width: 230px;
	    z-index: 99;
	}
	
	.current-cat a {
		color:black !important;
	}
	
	#rh_sidebar .cat-item {
		font-size:0.8em;
		line-height:1.3em;
		list-style:none;
	}
	
/*Blog*/

#lh_date {
    color: #C3C3C3;
    font-size: 0.8em;
	line-height:1.5em;
}

/*Contact*/

#contact_thanks {
	display:none;
	position:absolute;
}

#contact_submit {
	background-image: linear-gradient(bottom, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -o-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -moz-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -webkit-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -ms-linear-gradient(bottom, rgb(195,195,195) 0%, rgb(255,255,255) 99%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(195,195,195)),
		color-stop(0.99, rgb(255,255,255))
	);
}

#contact_submit:hover {
	background-image: linear-gradient(top, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -o-linear-gradient(top, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -moz-linear-gradient(top, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -webkit-linear-gradient(top, rgb(195,195,195) 0%, rgb(255,255,255) 99%);
	background-image: -ms-linear-gradient(top, rgb(195,195,195) 0%, rgb(255,255,255) 99%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(195,195,195)),
		color-stop(0.99, rgb(255,255,255))
	);
}

/*Footer*/

	#footer {
	    background-color:#fff;
		height:100%;
		z-index:1;
		position:relative;
	}

	#footer #footer_container .left .cat-item,  #footer #footer_container .right{
	    font-size: 0.8em;
	    font-style: oblique;
		text-decoration:none;
		padding-top:1em;
	}
	
	#footer #footer_container .left .cat-item a  {
		color:black !important;
		font-weight:normal;
	}
	
	#footer #footer_container .left .cat-item a{
		margin-right:2em;
	}
	
	#footer #footer_container .cat-item {
		float:left;
	}