body {
	background-image:url('assets/images/website3.png');
	background-position:center top;
}

body {
/*	background-color:#F2F2F2;*/
}

* {
	font-family:Myriad pro, helvetica, arial, serif;
}
/*Shared*/
.blueline_bottom {
	border-bottom:1px solid #662D91;
	box-shadow:0 1px 1px #C9C9C9;
}

.blueline_top {
	border-top:1px solid #662D91;
    box-shadow: 0 -1px 1px #C9C9C9;
}

hr {
	color: #662D91;
	margin-bottom: 0.2em;
}

li {
	list-style-image:url('assets/images/bullet.png');
}

/*Header*/
	#header {
		height: 42px;
		background-color: #FFFFFF;
		position: relative;
	}

	/*Nav*/
		#navigation {
			padding-top:1em;
		}

		#navigation li a {
			text-decoration:none;
			color:#B3B3B3;
		} 

		#navigation .page_item_title {
			float:left;
			list-style:none;
			margin-right:3em;
		}
/*Sidebar*/

	#sidebar {
	    position: absolute;
	    right: 0;
	    top: -28px;
	    width: 164px;
	    z-index: 3;
	}

/*Content*/

	#content_wrap {
		min-height: 474px;
		background-color:#F2F2F2;
		padding-top:0.6em;
	}
	
/*Home*/

	#slider_wrap {
		width:760px;
		height:460px;
	}

/*Footer*/

	#footer {
	    background-color:#fff;
		height:100%;
		z-index:1;
		position:relative;
	}

	#footer_container {
	    padding-top: 0.8em;
	}

	#footer #footer_container .left .cat-item a,  #footer #footer_container .right{
	    font-size: 0.8em;
	    font-style: oblique;
		text-decoration:none;
		color:black;
	}