body {
	background-image:url('assets/images/website3.png');
	background-position:center top;
}

body {
/*	background-color:#F2F2F2;*/
}

* {
	font-family:Myriad pro, helvetica, arial, serif;
}

a{
	color:#662D91;
	font-weight:bold;
	text-decoration:none;
}
/*Shared*/
.blueline_bottom {
	border-bottom:1px solid #662D91;
	box-shadow:0 1px 1px #C9C9C9;
}

.blueline_top {
	border-top:1px solid #662D91;
    box-shadow: 0 -1px 1px #C9C9C9;
}

hr {
	color: #662D91;
	margin-bottom: 0.2em;
}

li {
	list-style-image:url('assets/images/bullet.png');
}

#title {
	color: #B3B3B3;
    text-decoration: none;
    border-bottom: 1px solid #662D91;
    box-shadow: 0 1px 1px #C9C9C9;
	display: block;
}

/*Header*/
	#header {
		height: 42px;
		background-color: #FFFFFF;
		position: relative;
	}

	/*Nav*/
		#navigation {
			padding-top:1em;
		}

		#navigation li a {
			text-decoration:none;
			color:#B3B3B3;
		} 

		#navigation .page_item_title {
			float:left;
			list-style:none;
			margin-right:3em;
		}
/*Sidebar*/

	#logo {
	    position: absolute;
	    right: 0;
	    top: -28px;
	    width: 164px;
	    z-index: 3;
	}

/*Content*/

	#content_wrap {
		min-height: 474px;
		background-color:#F2F2F2;
		padding-top:0.6em;
	}
	
	#lh_content {
		float:left;
	}
	
	#rh_sidebar {
		float:right;
		width:10em;
		margin-top: 85px;
	}
	
/*Home*/

	#hp_latest_news ul li {
	    font-size: 0.75em;
	    margin-left: 1em;
	}
	
	#hp_latest_news ul li a {
		color:#662D91;
		font-weight:bold;
		text-decoration:none;
	}
	
	#hp_latest_news ul .hp_date {
		font-size:0.7em;
		padding-bottom:0.2em;
	}

	/*Slider*/
		#slider_wrap {
			width:760px;
			height:460px;
			overflow:hidden;
		}
		
		#slider_frame {
		    box-shadow: 0 0 1px #C9C9C9 inset;
		    height: 460px;
		    position: absolute;
		    width: 760px;
		    z-index: 99;
			border:1px solid #662D91;
		}
		
		.thumb {
		    float: left;
		    margin-right: 3px;
		    overflow: hidden;
		    width: 43px;
		}

/*Footer*/

	#footer {
	    background-color:#fff;
		height:100%;
		z-index:1;
		position:relative;
	}

	#footer_container {
	    padding-top: 0.8em;
	}

	#footer #footer_container .left .cat-item a,  #footer #footer_container .right{
	    font-size: 0.8em;
	    font-style: oblique;
		text-decoration:none;
		color:black;
	}