/*  

Author: 1UPDesign
Author URI: http://1updesign.org/
Version: 1.0
*/

.container
{
	width:965px;
	margin:auto;
	position:relative;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

#clearboth, .clearboth
{
	clear:both;
}

.column_five
{
	width:19.2%;
	float:left;
	margin-right:1%;
	margin-bottom:1em;
}

.column_four
{
	width:24%;
	float:left;
	margin-right:1%;
	margin-bottom:1em;
}

.column_three
{
    float: left;
    margin-bottom: 1em;
    margin-right: 1%;
    width: 32.1%;
}

.column_three p {
	margin-bottom:0;
}

.column_two
{
	float:left;
	margin-right:4%;
	width:46%;
}

.column_right
{
	margin-right:0;
}